<% require 'date' %>

<%= form_tag(controller: 'stations', method: 'get', action: 'index') do %>

  <div class="input-field col s12">
    <%= select_tag(:from, options_for_select(@stations.collect{ |s| [s.name] })) %>
    <%= label_tag(:from, 'From') %>
  </div>

  <div class="input-field col s12">
    <%= select_tag(:to, options_for_select(@stations.collect{ |s| [s.name] })) %>
    <%= label_tag(:to, 'To') %>
  </div>

      <!-- <%= label_tag(:time, 'Train Schedule After') %>
      <%= time_select 'time', 'time', {ampm: true}, {minute_step: 15} %> -->

  <%= label_tag(:to, 'Train Schedule After') %>
  <%= text_field_tag 'time', Time.now.strftime('%I:%M%p'), class: "timepicker" %>


  <input type='submit' id='search-btn'>
<% end %>
