<% require 'date' %>

<h1>Caltrain</h1>

<%= form_tag(controller: 'stations', method: 'get', action: 'index') do %>
  <div class="form-group">
    <%= label_tag(:from, 'From') %>
    <%= select_tag(:from, options_for_select(@stations.collect{ |s| [s.name] }), class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:to, 'To') %>
    <%= select_tag(:to, options_for_select(@stations.collect{ |s| [s.name] }), class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:time, 'Train Schedule After') %>
    <span id='span_time'>
      <%= time_select 'time', 'time', {ampm: true}, {minute_step: 15} %>
    </span>
  </div>

  <input type='submit' id='search-btn'>
<% end %>
