<% require 'date' %>

<%= stylesheet_link_tag 'stations', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= image_tag "#{rand(1..8)}.jpg", class: 'bg' %>
<div class='container'>
  <%= form_tag('/stops', controller: 'stations', method: 'get', action: 'index') do %>
    <div class="input-field col s12">
      <%= select_tag(:from, options_for_select( @stations.collect{ |s| [s.name, s.id] } )) %>
      <%= label_tag(:from, 'From') %>
    </div>

    <div class="input-field col s12">
      <%= select_tag(:to, options_for_select(@stations.collect{ |s| [s.name, s.id] }, @stations.last.name)) %>
      <%= label_tag(:to, 'To') %>
    </div>

        <!-- <%= label_tag(:time, 'Train Schedule After') %>
        <%= time_select 'time', 'time', {ampm: true}, {minute_step: 15} %> -->
    <div class="input-field col s12">
      <%= label_tag(:to, 'Train Schedule After') %>
      <%= text_field_tag 'time', Time.now.strftime('%I:%M%p'), class: "timepicker" %>
    </div>

    <div class="range-field class="input-field col s12"">
      <%= label_tag(:range, 'Departing Within Next (default 2 hours)') %>
      <%= range_field_tag(:range, 2, in: 1..12) %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Find Schedule
      <i class="material-icons right">search</i>
    </button>
  <% end %>
  <div class="clear"></div>
</div>


<div class="map-container">
  <div id="map"></div>
</div>

<script>

  function initMap() {

    var infowindow = new google.maps.InfoWindow();
    var directionsDisplay = new google.maps.DirectionsRenderer({hideRouteList: true, polylineOptions: {strokeColor: "black", strokeWeight: 6}, suppressMarkers: true, preserveViewport: true, markerOptions: {visible: false}});
    var directionsService = new google.maps.DirectionsService;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: {lat: 37.4858315, lng: -122.2317188},
      scrollwheel: false,
      styles: [
        {
          featureType: 'transit',
          elementType: 'all',
          stylers: [{visibility: 'off'}]
        }
      ]
    });



    google.maps.event.addDomListener(window, "resize", function() {
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);
    });

    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);

    // var image = "https://dl.dropboxusercontent.com/s/2pjw2ku51x8mpoz/train_marker2.png?dl=0";
    var image = "https://dl.dropboxusercontent.com/s/i323dasyjauidwa/train_marker.png?dl=0";
    <% @stations.each do |station| %>
      <% coord = "{lat: #{station.latitude}, lng: #{station.longitude}}" %>
      var marker = new google.maps.Marker({
        position: <%= coord %>,
        map: map,
        title: "<%= station.name %>",
        icon: image
      });

      google.maps.event.addListener(marker, 'click', (function(marker) {
        return function() {
          var info = "<div class='station-name'><%= station.name %>" + " Station</div><div class='set_location set_from' data-station-id='<%= station.id - 1 %>'>Set As From Station</div><div class='set_location set_to' data-station-id='<%= station.id - 1 %>'>Set As To Station</div>";
          infowindow.setContent(info);
          infowindow.open(map, marker);
        }
      })(marker));

    <% end %>

    google.maps.event.addDomListener(infowindow, 'domready', function() {
      $('.set_from').click(function(event) {
        var stationId = parseInt($(event.target).data("station-id"))
        $('#from')[0].selectedIndex = stationId
        $('select').material_select();
      });
      $('.set_to').click(function() {
        var stationId = parseInt($(event.target).data("station-id"))
        $('#to')[0].selectedIndex = stationId
        $('select').material_select();
      });
    });

  }


  function calculateAndDisplayRoute(directionsService, directionsDisplay) {

  directionsService.route({
    origin: "San Francisco Caltrain Station",
    destination: "Gilroy Caltrain Station",
    provideRouteAlternatives: true,
    travelMode: 'TRANSIT',
    transitOptions: {
      modes: ['TRAIN'],
      routingPreference: 'FEWER_TRANSFERS'
    }

    },
    function(response, status) {
      if (status == 'OK') {
        // response.routes[0].legs.forEach(x => x.steps.forEach(y => y.transit.line.name=""))
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp&sensor=false&key=AIzaSyAL8ZS_LQ3BAArQoq4-VxL043JkHMn7Ud0&callback=initMap">
</script>
