<% require 'date' %>

<div class='container'>

  <%= form_tag('/stops', controller: 'stations', method: 'get', action: 'index') do %>

    <div class="input-field col s12">
      <%= select_tag(:from, options_for_select( @stations.collect{ |s| [s.name] } )) %>
      <%= label_tag(:from, 'From') %>
    </div>

    <div class="input-field col s12">
      <%= select_tag(:to, options_for_select(@stations.collect{ |s| [s.name] }, @stations.last.name)) %>
      <%= label_tag(:to, 'To') %>
    </div>

        <!-- <%= label_tag(:time, 'Train Schedule After') %>
        <%= time_select 'time', 'time', {ampm: true}, {minute_step: 15} %> -->

    <%= label_tag(:to, 'Train Schedule After') %>
    <%= text_field_tag 'time', Time.now.strftime('%I:%M%p'), class: "timepicker" %>

    <div class="range-field">
      <%= label_tag(:range, 'Departing Within Next (default 2 hours)') %>
      <%= range_field_tag(:range, 2, in: 1..12) %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Find Schedule
      <i class="material-icons right">search</i>
    </button>
  <% end %>

</div>

<div class='container'>
  <div id="map"></div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false&key=AIzaSyAL8ZS_LQ3BAArQoq4-VxL043JkHMn7Ud0&callback=initMap">
</script>

<script>

function initMap() {
  var i = 0;
  var directionsDisplay = new google.maps.DirectionsRenderer({hideRouteList: true});
  var directionsService = new google.maps.DirectionsService;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    styles: [
      {
        featureType: 'transit',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      }
    ]
  });


  directionsDisplay.setMap(map);
  calculateAndDisplayRoute(directionsService, directionsDisplay);

  var infowindow1 = new google.maps.InfoWindow({
    content: 'San Bruno Station<div class="set_location set_from">Set From Station</div><div class="set_location set_to">Set To Station</div>'
  });

  // infowindow.setContent('<a href="#" id="test">test</a>');
  google.maps.event.addDomListener(infowindow1, 'domready', function() {
      $('.set_from').click(function() {
        str = infowindow1.content;
        fromLocation = str.substring(0,str.indexOf("Station")-1);
        $('.select-dropdown')[0].material_select();
        $(".select-dropdown")[0].val = fromLocation;
        $('.select-dropdown')[0].material_select();
      });
      $('.set_to').click(function() {
        str = infowindow1.content;
        toLocation = str.substring(0,str.indexOf("Station")-1);
        console.log(toLocation);
        $(".select-dropdown")[2].value = toLocation;
        $('.select-dropdown')[2].material_select();
      });
  });

  var myLatLng = {lat: 37.6378, lng: -122.4163};
  var marker1 = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'San Bruno'
  });

  marker1.addListener('click', function() {
    infowindow1.open(map, marker1);
    // console.log(marker.title);
    // console.log($(".select-dropdown"))
    // if (i===0) {
    //   $(".select-dropdown")[0].value = marker.title;
    // } else {
    //   $(".select-dropdown")[2].value = marker.title;
    // }
    // i++;
  });




  var infowindow2 = new google.maps.InfoWindow({
    content: 'Palo Alto Station<div class="set_location set_from">Set From Station</div><div class="set_location set_to">Set To Station</div>'
  });

  // infowindow.setContent('<a href="#" id="test">test</a>');
  google.maps.event.addDomListener(infowindow2, 'domready', function() {
      $('.set_from').click(function() {
        str = infowindow2.content;
        fromLocation = str.substring(0,str.indexOf("Station")-1);
        $(".select-dropdown")[0].value = fromLocation;
      });
      $('.set_to').click(function() {
        str = infowindow2.content;
        toLocation = str.substring(0,str.indexOf("Station")-1);
        console.log(toLocation);
        $(".select-dropdown")[2].value = toLocation;
      });
  });

  var myLatLng = {lat: 37.4440, lng: -122.1663};
  var marker2 = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Palo Alto'
  });

  marker2.addListener('click', function() {
    infowindow2.open(map, marker2);
    // console.log(marker.title);
    // console.log($(".select-dropdown"))
    // if (i===0) {
    //   $(".select-dropdown")[0].value = marker.title;
    // } else {
    //   $(".select-dropdown")[2].value = marker.title;
    // }
    // i++;
  });

  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {

  directionsService.route({
    origin: "San Francisco Caltrain Station",
    destination: "Gilroy Caltrain Station",
    // travelMode: google.maps.TravelMode[selectedMode],
    provideRouteAlternatives: false,
    travelMode: 'TRANSIT',
    transitOptions: {
      modes: ['TRAIN']
    }

    },
    function(response, status) {
      if (status == 'OK') {
        // console.log(response)
        // response.routes[0].legs.forEach(x => x.steps.forEach(y => y.transit.line.name=""))
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }

</script>
