<%= stylesheet_link_tag 'favorites', media: 'all', 'data-turbolinks-track': 'reload' %>

<% flash.each do |key, value| %>
  <h3><%= value %></h3>
<% end %>
<ol>
  <% @favorites.each do |fav| %>
    <% from = fav.source %>
    <% to = fav.destination %>
    <h5>From <%= fav.source %> to <%= fav.destination %>
      <%= link_to raw("<i class='tiny material-icons'>delete</i>"), delete_favorite_path(fav.id), class: 'waves-effect waves-light btn delete-btn', method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
    </h5>
  <% end %>
</ol>
