<%= stylesheet_link_tag 'stops', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='container'>
  <h5>

    <%= @trip_data[:station_from] %>
    <i class="tiny material-icons">fast_forward</i>
    <%= @trip_data[:station_to] %>
    <% from = params[:from]%>
    <% to = params[:to]%>
    <% if current_user && !current_user.has_favorite?(current_user.id, from, to) %>
      <%= link_to raw("Favorite <i class='tiny material-icons'>star</i>"), create_favorite_path(user_id:current_user.id, from:from, to:to, from_id:@trip_data[:station_from_id], to_id:@trip_data[:station_to_id]), :method => "post", class: 'orange-title fav-star' %>
    <% end %>
  </h5>

  <% if @trip_data[:trips].empty? %>
    <h1>No trips available.</h1>
  <% else %>
    <% @trip_data[:trips].each do |trip| %>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title activator orange-title">Train #<%= trip[:train_number] %><i class="material-icons right">more_vert</i></span></span>
            <p>Departure : <%= trip[:departure_time] %></p>
            <p>Arrival : <%= trip[:arrival_time] %></p>
            <p>Duration : <%= trip[:duration] %> minutes</p>
          </div>
          <div class="card-reveal blue-grey lighten-4">
            <span class="card-title grey-text text-darken-4">Full Listing:<i class="material-icons right">close</i></span>
            <table>
              <% trip[:trip_stops].each do |trip_stop| %>
                <tr>
                  <td><%= trip_stop[:name] %></td>
                  <td><%= trip_stop[:departure_time] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
