<!DOCTYPE html>
<html>
  <head>
    <title>Transit App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!-- <div class='banner'>
      <h4><%= link_to 'Caltrain', stations_path %></h4>
      <% if signed_in? %>
         <p class='right'>Welcome <%= current_user.email %></p>
          <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn waves-effect waves-light right' %>
          <% else %>
          <%= link_to 'Sign up', sign_up_path, class: 'btn waves-effect waves-light right' %>
        <% end %>
      </div> -->
      <nav>
       <div class="nav-wrapper">
       <div class="brand-logo"><%= link_to 'Caltrain', stations_path %></div>
      <% if signed_in? %>
      <ul id="nav-mobile" class="right">
        <li><%= current_user.email %></li>
        <li><%= link_to 'Sign out', sign_out_path, method: :delete, class: 'btn waves-effect waves-light right' %></li>
      </ul>
      <% else %>
      <ul id="nav-mobile" class="right">
        <li><%= link_to 'Sign up', sign_up_path, class: 'btn waves-effect waves-light right' %></li>
      </ul>
      <% end %>
    </div>
  </nav>

    <div class='container'>

      <%= yield %>
    </div>
  </body>
</html>
