<!DOCTYPE html>
<html>
  <head>
    <title>Bayrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
        <%= link_to 'BayRails', stations_path, class: 'logo' %>
        <ul id="nav-mobile" class="right">
        <% if signed_in? %><!-- Logged In -->
          <ul id="dropdown1" class="dropdown-content">
            <%= render "favorites/menu" %>
          </ul>
          <ul id="nav-mobile" class="right">
            <li><a class="dropdown-button" data-activates="dropdown1">Favorite Routes<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right">
            <li><%= link_to 'Log In', sign_in_path %></li>
            <li><%= link_to 'Sign up', sign_up_path %></li>
          </ul>
        <% end %>
      </nav>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
     </div>
    <%= yield %>
  </body>
</html>
